<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearProducto</servlet-name>
        <servlet-class>Servlet.crearProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>Servlet.eliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarProducto</servlet-name>
        <servlet-class>Servlet.modificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearReceta</servlet-name>
        <servlet-class>Servlet.crearReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarReceta</servlet-name>
        <servlet-class>Servlet.modificarReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarReceta</servlet-name>
        <servlet-class>Servlet.eliminarReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarServlet</servlet-name>
        <servlet-class>Servlet.AgregarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCarritoServlet</servlet-name>
        <servlet-class>Servlet.AgregarCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDelCarrito</servlet-name>
        <servlet-class>Servlet.EliminarDelCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearProducto</servlet-name>
        <url-pattern>/crearProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/deleteProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarProducto</servlet-name>
        <url-pattern>/updateProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearReceta</servlet-name>
        <url-pattern>/crearReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarReceta</servlet-name>
        <url-pattern>/updateReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarReceta</servlet-name>
        <url-pattern>/deleteReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarServlet</servlet-name>
        <url-pattern>/AgregarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCarritoServlet</servlet-name>
        <url-pattern>/AgregarCarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDelCarrito</servlet-name>
        <url-pattern>/EliminarDelCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
